div {
    border: 1px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px;
     margin: 5px;
}
#root {
    width: 800px;
    height: 400px;
}
#root div {
    width: 45%;
    height: 60%;
}

.cur {
    background: red;
}

.cur div {
    background: white;
}
